@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background-color:#81d4fa;
}
.wrapper{
    width: 400px;
    background:400px;
    border-radius:7px;
    background:#e1f5fe;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3);
}
.wrapper header{
    color:#43AFFC;
    font-size:21px;
    font-weight:500;
    padding:16px 15px;
    display:flex;
    align-items:center;
    border-bottom:1px solid #bfbfbf;
}
header i{
    cursor:pointer;
    font-size:30px;
    margin-right:8px;
}
.wrapper.active header i{
    font-size:30px;
    margin-left:5px;
}
.wrapper .input-part{
    margin:20px 25px 30px;
}
.wrapper.active .input-part{
    display:none;
}

.input-part .info-txt{
    display:none;
    font-size: 19px;
    background:red;
    text-align: center;
    padding:12px 10px;
    border-radius:7px;
    margin-bottom:15px;
}
.input-part .info-txt.error{
    display:block;
    color:#721c24;
    background:#f8d7da;
    border:1px solid #f5c6cb;
}
.input-part .info-txt.pending{
    display:block;
    color:#0c5460;
    background:#d1ecf1;
    border:1px solid #bee5eb;
}
.input-part :where(input,button){
    width:100%;
    height:55px;
    border:none;
    outline:none;
    border-radius:7px;
    font-size:18px;
}
.input-part input{
    text-align:center;
    border:1px solid #bfbfbf;
    background-color: #81d4fa;
    color:white;
}

.input-part input:is(:focus,:valid){
    border:2px solid #43AFFC;
}
.input-part .separator{
    height:1px;
    width:100%;
    margin:25px 0px;
    background: #ccc;
    display: flex;
    align-items:center;
    justify-content: center;
}
.separator::before{
content:"or";
padding:0px 15px;
background:#e1f5fe;
font-size:19px;
color:#ccc;
}
.input-part button{
    color: #fff;
    cursor: pointer;
    background:#81d4fa;
    transition: 0.3s ease;
}
.wrapper .weather-part{
    margin:30px 0px 0px;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.wrapper.active .weather-part{
    display:flex;
}

.weather-part img{
    max-width:125px;
}
.weather-part .temp{
    display:flex;
    font-size:72px;
    font-weight:500;
}
.weather-part .temp .numb{
    font-weight:600;
}
.weather-part .temp .deg{
    font-size:40px;
    margin:10px 5px 0 0;
    display:block;
}
.weather-part .weather{
    font-size:21px;
    text-align:center;
    margin: -5px 20px 15px;
    text-transform:capitalize;
    letter-spacing:1px;
}
.weather-part .location{
    font-size:21px;
    display:flex;
    align-items:center;
    margin-bottom:30px;
    letter-spacing:1px;
}
.location i{
    font-size:22px;
    margin-right:5px;
}
.weather-part .bottom-details{
    border-top:1px solid #bfbfbf;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.bottom-details .column{
    width:100%;
    padding:15px 0px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.column i{
    color:#43AFFC;
    font-size:40px;
}
.column.humidity{
    border-left:1px solid #bfbfbf;
}
.details .temp,.humidity span{
    font-size:18px;
    font-weight:500;
    margin-top:-3px;
}
.details .temp .deg{
    margin:0;
    font-size:17px;
    pad:0 2px 0px 1px;
}
.details p{
    font-size:14px;
    margin-top:-6px;
}
::placeholder{
    color:white;
}






